---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex">
        <aside
            class="bg-sky-500/30 sticky top-12 w-1/5 h-min rounded mt-0 m-4 p-2 hidden md:block"
        >
            <a class="" href="/p/testendpoint#">It's cat</a>
        </aside>
        <main class="prose dark:prose-invert">
            <h1>Title</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
                placeat nemo? Aliquid, inventore? Sequi ut rem quaerat
                doloremque, nesciunt officia culpa at quidem pariatur minus
                distinctio reiciendis sint, obcaecati cupiditate?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
                placeat nemo? Aliquid, inventore? Sequi ut rem quaerat
                doloremque, nesciunt officia culpa at quidem pariatur minus
                distinctio reiciendis sint, obcaecati cupiditate?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
                placeat nemo? Aliquid, inventore? Sequi ut rem quaerat
                doloremque, nesciunt officia culpa at quidem pariatur minus
                distinctio reiciendis sint, obcaecati cupiditate?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
                placeat nemo? Aliquid, inventore? Sequi ut rem quaerat
                doloremque, nesciunt officia culpa at quidem pariatur minus
                distinctio reiciendis sint, obcaecati cupiditate?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
                placeat nemo? Aliquid, inventore? Sequi ut rem quaerat
                doloremque, nesciunt officia culpa at quidem pariatur minus
                distinctio reiciendis sint, obcaecati cupiditate?
            </p>
        </main>
    </div>
</BaseLayout>
