---
import { createTranslation } from "../i18n/utils";
import DarkModeBtn from "./DarkModeBtn.svelte";

const t = createTranslation(Astro.currentLocale);
---

<style>
    .separation {
        @apply select-none text-gray-500 dark:text-gray-400;
    }
</style>

<header class="bg-sky-500/50 sticky top-0 rounded m-4">
    <nav>
        <ul class="list-none flex flex-row flex-wrap py-2 px-4 gap-2">
            <li>
                <a class="font-mono font-bold" href="/">{t("base.site.name")}</a
                >
            </li>
            <li class="separation"><span>-</span></li>
            <li><a href="/p">{t("nav.posts")}</a></li>
            <li class="separation"><span>/</span></li>
            <li><a href="/about">{t("nav.about")}</a></li>
            <li class="grow"></li>
            <li><span class="separation">/</span></li>
            <li>
                <DarkModeBtn client:only="svelte" />
            </li>
        </ul>
    </nav>
</header>
