<nav>
    <ul class="flex list-none py-2 px-4 flex-wrap">
        <li>
            <a class="font-mono font-bold" href="/">Blog</a>
        </li>
        <li class="mx-2 select-none">
            <span>-</span>
        </li>
        <li class="grow">
            <ul class="inline-block list-none">
                <li class="inline-block"><a href="/p">Posts</a></li>
                <li class="inline-block text-gray-600 dark:text-gray-400">
                    <span>/</span>
                </li>
                <li class="inline-block"><a href="/about">About</a></li>
            </ul>
        </li>
        <li class="inline">
            <span class="select-none mx-2">/</span>
        </li>
        <li class="inline">
            <button>Auto</button>
        </li>
    </ul>
</nav>
