---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

interface Props {
    content: CollectionEntry<"posts">;
}

const { Content, headings } = await Astro.props.content.render();
---

<BaseLayout>
    <div class="flex justify-center p-4 gap-4">
        <main
            class="prose dark:prose-invert
            prose-a:decoration-[0.15em]
            prose-a:bg-gradient-to-t prose-a:from-sky-500/75 prose-a:from-50% prose-a:to-50%
            prose-a:relative prose-a:bg-[0_0%] prose-a:bg-[length:100%_200%]
            prose-a:duration-300 prose-a:transition-all hover:prose-a:bg-[0_100%]"
        >
            <Content />
        </main>
    </div>
</BaseLayout>
