---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex">
        <aside
            class="bg-sky-500/30 sticky top-12 w-1/5 h-min rounded mt-0 m-4 p-2 hidden md:block"
        >
            <a href="/p/testendpoint#">It's cat</a>
        </aside>
        <main class="prose dark:prose-invert">
            <slot />
        </main>
    </div></BaseLayout
>
